* {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

@media only screen and (max-width : 320px) {html{font-size:8.5px;}}
@media only screen and (min-width : 320px) {html{font-size:9px;}}
@media only screen and (min-width : 480px)  {html{font-size:8px;}}
@media only screen and (min-width : 768px)  {html{font-size:8.5px;}}
@media only screen and (min-width : 992px)  {html{font-size:9px;}}
@media only screen and (min-width : 1200px)  {html{font-size:10px;}}
@media (max-width:767px) {body {padding-bottom:30px;}}

* {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* RESET */
img {max-width:100%}

a, a:active, a:focus, a:hover, a:visited {text-decoration:none;}
body {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;padding:0;margin:0;overflow-y:auto !important;font-family: 'Open Sans', sans-serif;font-size:1.4rem;overflow:hidden;}

#banner-top a[href^='tel'] {
    color: #fff;
    text-decoration: none;
}

a {color:#0D589B;}
a:hover {color:#6CBB4E;}
p {line-height:1.4;margin-bottom:2rem;}

h1 {font-size:2.8rem;line-height:3.6rem;margin-bottom:2rem;}/*old fontsize=3.2rem;*/
h2 {font-size:2.2rem;line-height:3.2rem;margin-bottom:2rem;}/*o fs=2.8rem*/
h3 {font-size:1.8rem;line-height:2.8rem;margin-bottom:2rem;}/*o fs=2.5rem*/
h4 {font-size:1.6rem;line-height:2rem;margin-bottom:2rem;}/*o fs=2.2rem*/
h5 {font-size:1.9rem;line-height:1.8rem;margin-bottom:2rem;}
h6 {font-size:1.6rem;line-height:1.8rem;margin-bottom:2rem;}
.h1 {font-size:2.8rem;line-height:3.6rem;margin:0;}
.h2 {font-size:2.2rem;line-height:3.2rem;margin:0;}
.h3 {font-size:1.8rem;line-height:2.8rem;margin:0;}
.h4 {font-size:1.6rem;line-height:2rem;margin:0;}
.h5 {font-size:1.6rem;line-height:1.8rem;margin:0;}
.h6 {font-size:1.4rem;line-height:1.8rem;margin:0;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-weight:600;}

ul {margin-top:0;margin-bottom:2rem;}
ul ul {margin-top:0; margin-bottom:0;}
ul li {line-height: 2rem;}
ol {margin-top:1rem;margin-bottom:1rem;margin-left:2rem}
ol li {list-style-type:decimal}
ol li li {list-style-type:lower-alpha}

.fa-ul {}
.fa-ul li {line-height: 2rem;}
.fa-ul li {list-style-type:none;}
.fa-ul li em {color:#0D589B; line-height:2.5rem; top:0;}

dl {display:table;width:100%;margin:1rem 0}
dt {width:35%;float:left;padding: 0.5em 1em 0.5em 0.5em;text-align:right}
dd {width:64%;float:left;padding: 0.5em;}

blockquote {background: #f9f9f9;font-size:1.6rem;border-left: 2px solid #0D589B;margin: 0 20px 3rem 10px;padding:1.5rem 2rem;line-height:3rem;}
blockquote p {display: inline;font-style: italic;}

input, textarea, select { -webkit-appearance: none; }
::-webkit-input-placeholder { color:#ccc; }
::-moz-placeholder { color:#ccc; }
::-ms-placeholder { color:#ccc; }
::placeholder { color:#ccc; }

/* HELPER CLASSES */
.section {padding:60px 0;} /* adjustable spacing between sections */
.section-sm {padding:30px 0;} /* adjustable spacing between sections */
.section-lg {padding:80px 0;} /* adjustable spacing between sections */
.no-margin {margin:0!important;}
.row-no-padding > [class*="col-"] {padding-left: 0px !important;padding-right: 0px !important;} /* removes padding from rows */
@media (max-width:768px) {body {padding-bottom:40px;}.section {padding:30px 0;}.section-lg {padding:40px 0;}}

.relative {position:relative;}
.absolute {position:absolute;}
.float-left {float:left;}
.float-right {float:right;}

.pad-sm {padding:30px 0;}

.box-shadow {box-shadow: 0.5rem 0.5rem 0.1rem #ccc;}

@media (min-width:481px) {
	.strike-through {overflow:hidden;display:block!important;white-space:nowrap;text-align:center;position:relative;}
	.strike-through:before {content:'';height:1px;background:rgba(190, 190, 190, 0.5);width:50%;display:inline-block;left:-120px;position:absolute;top:50%;bottom:50%;}
	.strike-through:after {content:'';height:1px;background:rgba(190, 190, 190, 0.5);width:50%;display:inline-block;right:-120px;position:absolute;top:50%;bottom:50%;}
}

/***********************************
TYPOGRAPHY // font-face if needed
***********************************/

.bold {font-weight:bold;}
.semi-bold {font-weight:600;}
.italic {font-style:italic;}
.brand {color:#0D589B;}
.brand sup {color:#6CBB4E;}

/***********************************
BUTTONS
***********************************/
.btn {min-width:180px;transition:all 0.3s ease;text-transform:uppercase;color:#fff;border:1px solid transparent;display:inline-block;line-height:2.8rem;text-align:center; font-weight:600;}
@media (max-width:992px) {.btn {min-width:150px;}}
.btn.blue {background:#006eb5;border-color:#006eb5;color:#fff;}
.btn.green {background:#1ba95d;border-color:#1ba95d;color:#fff;}
.btn.m-l{margin:0 0 0 1rem;}
.btn.m-r {margin:0 1rem 0 0;}
.btn-primary {background:#F14A5C;}
.btn-primary:hover {background:transparent;color:#F14A5C;border-color:#F14A5C;}
.btn-primary.blue:hover {background:transparent;color:#0D589B;border-color:#0D589B;}
.btn-primary.green:hover {background:transparent;color:#1ba95d;border-color:#1ba95d;}
.btn-secondary {background:transparent!important;color:#F14A5C;border-color:#F14A5C;}
.btn-secondary.blue {background:transparent!important;color:#006eb5;}
.btn-secondary.green {background:transparent!important;color:#6CBB4E;}
.btn-secondary:hover {background:#F14A5C!important;color:#fff;border-color:#F14A5C;}
.btn-secondary.blue:hover {background:#006eb5!important;color:#fff;border-color:#006eb5;}
.btn-secondary.green:hover {background:#6CBB4E!important;color:#fff;border-color:#6CBB4E;}
.btn-green {background:#1ba95d;border-color:#1ba95d;color:#fff;}
.btn-green.lg {min-width:280px;padding:10px 0;}
@media (max-width:992px) {.btn-green.lg {min-width:240px;padding:10px 0;}}
.btn-green:hover {background:transparent;border-color:#1ba95d;color:#1ba95d;}

@media(max-width:767px){
	.layout-index .img-excerpt .right .content .btn {width:175px;}
}
@media(max-width:455px){
	.hidden-455 {display:none !important;}
}

/***********************************
NAV
***********************************/
#nav-container {padding:0;margin-bottom:-20px;}
#nav > ul {list-style:none;line-height:2.2;display:inline-block;margin:0;}
#nav > ul > li {display:inline;color:#0D589B;padding:0;margin:0 0 0 1rem;}
#nav > ul > li > a {border-right:1px solid #ccc;}
#nav li a {font-size:1.3rem;font-weight:600;display:inline-block;color:#fff;vertical-align:middle;padding-right:1rem; text-decoration:none !important;}
#nav li:last-of-type a {border-right:none;padding-right:0;}

#nav .float-right li a {padding:0;border:none;}
#nav > ul > .dropdown:hover .dropdown-menu {display:block; min-width:275px;}
#nav > ul > .dropdown .dropdown-menu {min-width:275px;}
#nav > ul > .dropdown .dropdown-menu a {color:#006eb5;}
#nav > ul > .dropdown:hover .dropdown-menu a {display:block;color:#006eb5;}
#nav > ul > .dropdown .dropdown-menu .active a {color:#fff;}

#nav-container .navbar-default{background-color:#006eb5;}

#nav-container ul {padding:5px 0;}
#nav-container .fa {font-size:1.6rem;}
#nav-container .btn {font-size:1.3rem;height:41px;border-radius:0;margin-left:2rem;}

.tablet-phone {display:none;}

@media(min-width:767px) and (max-width:768px){
	#nav > ul {margin-top:7px !important;margin-left:3rem;}
	.tablet-phone {display:inline-block; float:right; line-height:50px; font-size:20px; font-weight:600;color:#fff;}
}

#nav .email {line-height:1.2;border-left:1px solid #ccc;margin-left:2rem;padding-left:24px;display:inline-block;}
.navbar {min-height:40px;}
.navbar-header {border-color:transparent!important;}
.navbar-brand {padding:5px;}
.navbar-brand img {height:40px;}
.navbar-default {box-shadow:0px 2px 1px 1px rgba(51, 51, 51, 0.3);background:#FCFCFC;border:0px;border-top:1px solid #eee;} /* change bg */

@media(min-width:769px){
	.tablet-logo {display:none;}
}

@media(max-width:767px){
	#nav > ul > li {display:block !important;margin-left:0; padding:0; text-align:left;}
	#nav .dropdown-menu {    display: block;
    position: static;
    width: 100%; padding:0; padding-left:15px;
    border: 0; float:none;
    box-shadow: none; 
    margin: 0;}
    #nav .fa-caret-down {display:none;}
    #nav .dropdown-menu li {padding:0;}
    #nav li a {display:block;padding:7.5px; font-size:16px;}
    #nav li.active > a {background-color:#EEE;}
}
@media(max-width:768px){
    .navbar-brand {background:#fff;}
    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {background:#fff!important;}
}
@media(min-width:768px) and (max-width:769px){
    .navbar-brand {margin-left:-24px!important;}
    .navbar-brand img {}
}
@media (min-width:768px) {
	.navbar-collapse {padding:0;}
	.navbar-fixed-bottom, .navbar-fixed-top {position:relative;}
	#nav li:hover a {text-decoration:underline;}
	#nav li.active > a {}
}
@media (min-width: 1px) {
	.navbar {border-radius: 0px!important;}
	.navbar-header {background-color:transparent;border-color:#fff;border-bottom-style:double;border-bottom-width:1px;}
	.navbar-default .navbar-toggle .icon-bar {background-color:#FFF;}
	.navbar-default .navbar-toggle {background-color: #0d589b;}
}
@media (min-width:768px) {
	.navbar .visible-sm {display:none!important;}
}
@media (max-width: 767px) {
	#nav .float-left {float:none;display:block;}
	#nav li a {border-right:none;padding-right:0;}
	#nav-container {position:fixed;width:100%;z-index:999!important;}
	#nav {background:#FCFCFC;border-bottom:2px;border-bottom-style:double;border-bottom-color:#6CBB4E;padding:5px;}
	#nav li {display:block;padding:0;margin:0;padding:7.5px;content:"";}
	#nav li a {color:#0D589B;text-decoration:none;text-transform:uppercase;}
	#nav li:last-child:after {display:block;padding:1rem 0;}
	.navbar .visible-sm {display:block!important;}
	.navbar-header { float: none; }
	.navbar-toggle { display: block; }
	.navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
	.navbar-collapse.collapse {display:none!important;}
	.navbar-collapse.in { display:block!important; }
	.navbar-nav { float: none!important; margin: 7.5px -15px; }
	.navbar-nav li { float: none; }
	.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }
}
@media(min-width:1200px){
	#nav-container .btn {height:45px;}
}
/***********************************
HEADER TOP
***********************************/
.header-top {padding:1.3rem 0;}
.header-top .right {display:inline-block;line-height:2.2;}
.header-top .right i {color:#0D589B;position:relative;bottom:-3px;}
.header-top .phone {font-size:2.6rem;font-weight:600;}
.header-top .borders {font-size:1.3rem;padding:0 2rem;display:inline-block;line-height:2;margin-right:1.5rem;border-left:2px solid #e6e6e6;border-right:2px solid #e6e6e6;}

/***********************************
HEADER
***********************************/
header {padding-top:0!important;}

/* BEGIN INDEX HEADER */
header.index .content .inner {background-color:rgba(0,110,181,0.8);margin-top:80px;padding:3rem 4rem;}
header.index .content {background:url('/content/uploads/media/new-images/header-bg.jpg');background-size:cover;background-position:center;background-repeat:no-repeat;}
header.index .content {height:542px;text-align:left;position:relative;}
/*header.index .content:after {content:'';display:block;position:absolute;bottom:0;width:100%;height:40px;background:#0D589B;opacity:.3;}*/
header.index .content p {margin-top:1rem;margin-bottom:3rem;font-size:1.6rem;color:#fff;}
header.index .content .main-heading {color:#fff;font-weight:600;font-size:6.5rem;max-width:650px;display:inline-block;line-height:1.4; margin-bottom:0;}
header.index .content .btn {margin:0;}
@media (max-width:550px) {
	header.index .content p {max-width:240px;}
}
@media (max-width:420px) {
	header.index .content a {margin:0 0 2rem 0;}
	header.index .content p {font-size:initial;}
	header.index .content .main-heading {font-size:2rem;}
}
@media (max-width:767px){
	  header.index .content{  background-position: 60% 100%;     background-size: auto 491px;}
	  header.index .main-heading {font-size:25px !important;  padding-top:250px !important; max-width:400px !important;}
}
@media (max-width:768px){
	header.index .main-heading {padding-bottom: 25px;}
}
/* END INDEX HEADER */

/* BEGIN SERVICES HEADER */
header.alt.services .content {background:url('_/img/header.jpg');background-repeat:no-repeat;background-size:cover;}
header.alt.services .content {height:200px;}
@media(max-width:991px){
	header.alt.services .content {background-position:29%;}
}
/* END SERVICES HEADER */

@media (max-width:768px) {
	
	.content-page, .content-img, .contact-us  {padding-top:10px;}
	
	.bottom h1 {margin-top:10px; margin-bottom:0;}
}
.content-page .content-img {padding-top:0;}
.rightlist {margin-bottom:0; line-height:30px;}



.index-h1 {font-size:2.8rem;}
